<br>
<div style="text-align: center; font-size: 20px; margin: 0 auto; width: 50%;">
	<div class="card">
	  	<div class="card-header">
			<div class="card-body">
				<p class="card-text">
	  				<strong>Username:</strong>
					<%= @gossip.anonymous_author %>
				</p>

				<p class="card-text">
					<strong>Content:</strong>
					<%= @gossip.content %>
				</p>
			</div>
			  <%= link_to 'Edit', edit_gossip_path(@gossip)%>
	   </div>
	</div>
</div>
<br>