body {
	padding-top: 65px;
	font-family: sans-serif;
	background-image: url(http://image.noelshack.com/fichiers/2018/44/5/1541122505-minimal-sunset-purple-mountains-and-birds-61310-1600x900.jpg) ;
	background-repeat: no-repeat;
    background-attachment: fixed;
}